* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: rgb(0, 132, 255);
}
.sectionMain {
  width: 100%;
  max-width: 80%;
  padding: 5em;
  margin: auto;
}
.mainTitle {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 3em;
  padding: 1em;
}
.selectId {
  border: none;
  width: 80%;
  padding: 1em;
  font-size: 2em;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}
.contentInputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokeButton {
  border: none;
  background: rgb(236, 40, 40);
  color: #fff;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1.6em;
  border-radius: 0.5em;
  position: relative;
  cursor: pointer;
  outline: none;
  z-index: 3;
  margin-top: 1em;
}
.pokeButton::after {
  content: "";
  background: white;
  width: 100%;
  border: none;
  height: 100%;
  display: inline-block;
  top: -2em;
  left: -2em;
  position: absolute;
  border-radius: 2em;
  padding: 2em;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  transform: scale(0);
}

.pokeButton:hover::after {
  transform: scale(1);
  z-index: -1;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.contentPokeCards {
  display: flex;
  padding: 1em;
  justify-content: center;
}
.titlePoke {
  font-size: 3em;
  text-align: center;
  padding: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
}
.contentPokeCards__card1 {
  background: #fff;
  padding: 3em;
  width: 30vw;
  height: 50vh;
  margin: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
}
.contentPokeCards__card2 {
  background: #fff;
  padding: 3em;
  width: 30vw;
  height: 50vh;
  margin: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
}
img {
  width: 100%;
}
@media (max-width: 700px) {
  body {
    background: #333;
  }
  .contentPokeCards__card1 {
    width: 70vw;
    height: 50vh;
  }
  .sectionMain {
    max-width: 100%;
  }
}
